.header {
  align-items: center;
  color: #0f3433;
  background-color: #abd1c6;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
}

.header-off {
  color: transparent;
  font-size: 25px;
  background-color: transparent;
  display: flex;
  height: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#logo-header {
  width: 20%;
  font-size: 30px;
  padding-left: 15px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 0;
}

#user-field {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-right: 15px;
  font-size: 18px;
  z-index: 0;
}

#email-field {
  color: rgb(247, 247, 253);
}

#header-user-field {
  color: #0f3433;
}

#total-field {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  font-size: 18px;
  z-index: 1;
  position: absolute;
}

#total {
  color: rgb(247, 247, 253);
}