.login {
  background-color: #abd1c6;
  width: 340px;
  height: 260px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2em;
}
.form {
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

#login-form-title-area {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f3433;
  font-size: 25px;
}

#form-inputs-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 100%;
}

.label-input {
  height: 35px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #0f3433;
}

.input-login {
  height: 30px;
  width: 74%;
  border-radius: 2em;
  outline: none;
  border: none;
  border-bottom: solid 0.3ch rgb(24, 24, 23);
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
  background-color: #fff3ec;
}

.input-login:focus {
  border-radius: 2em;
  outline: none;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

.input-login-ok, .input-pass-ok {
  height: 30px;
  width: 77%;
  border-radius: 2em;
  outline: none;
  border: none;
  border-bottom: solid 0.3ch rgb(68, 209, 91);
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

#login-btn {
  height: 30px;
  width: 100px;
  border-radius: 2em;
  font-weight: 500;
  font-size: 20px;
  border: none;
  color: #001e1d;
  margin-top: 10px;
}

#login-btn-active {
  height: 30px;
  width: 100px;
  border-radius: 2em;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: #0f3433;
  color:#f9bc60;
  cursor: pointer;
  margin-top: 10px;
}

#login-btn-active:hover {
  height: 30px;
  width: 100px;
  border-radius: 2em;
  font-weight: 500;
  border: none;
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
  margin-top: 10px;
}
