#table-wallet {
  height: 82%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 0.1ch;
}

#title-table-area {
  width: 99vw;
  font-size: 15px;
  border-radius: 1ch;
  background-color: rgb(245, 244, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.titles {
  width: 238px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles-btn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles-curtos {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodies {
  border-radius: 5ch;
  height: 35px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: rgb(246, 248, 250);
}

.bodies-curtos {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 248, 250);
  border-radius: 1ch;
  font-size: 14px;
}

.bodies-curtos-conv {
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgb(246, 248, 250);
  border-radius: 1ch;
}

.bodies-btn {
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(246, 248, 250);
  border-radius: 1ch;
  display: flex;
  font-size: 14px;
}

#titles-table {
  display: flex;
  justify-content: space-around;
  width: 99vw;
  background-color: blueviolet;
  color: aliceblue;
}

#body-table {
  display: flex;
  justify-content: space-around;
  width: 99vw;
}

#title-body-area {
  height: 100%;
  width: 99vw;
  font-size: 14px;
  border-radius: 1ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.edita, .exclui {
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: blueviolet;
}

.edita:hover, .exclui:hover {
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: rgb(40, 31, 48);
  transform: scale(1.1);
}