#table-wallet {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-table-area {
  width: 83%;
  font-size: 15px;
  border-radius: 1ch;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.titles {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titles-btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles-curtos {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodies {
  border-radius: 2ch;
  height: 35px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(63, 62, 62);
  background-color: rgb(246, 248, 250);
  border: solid 0.3ch #001e1d;
}

.bodies-curtos {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 248, 250);
  border-radius: 2ch;
  color: rgb(63, 62, 62);
  font-size: 14px;
  border: solid 0.3ch #001e1d;
}

.bodies-special {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 2ch;
  color: rgb(63, 62, 62);
}

#bodie-value {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 120px;
  font-size: 14px;
  background-color: rgb(246, 248, 250);
  border-radius: 2ch;
  color: rgb(63, 62, 62);
  border: solid 0.3ch #001e1d;
}

.bodies-btn {
  height: 35px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2ch;
  display: flex;
  font-size: 14px;
}

#titles-table {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #abd1c6;
  color: #0f3433;
  border-radius: 2ch;
}

#body-table {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#title-body-area {
  height: 320px;
  width: 83%;
  font-size: 14px;
  border-radius: 1ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  align-items: center;
}

.edita, .exclui {
  width: 80px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 1ch;
}

.exclui {
  background-color: #e16162;
  border: solid 0.3ch #001e1d;
  color: #0f3433;
}

.edita {
  background-color: #f9bc60;
  border: solid 0.3ch #001e1d;
  color: #0f3433;
}

.edita:hover, .exclui:hover {
  height: 35px;
  font-weight: 600;
  border-radius: 1ch;
  border: solid 0.3ch #001e1d;
  transform: scale(1.1);
}