.wallet-form-area {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 10px;
}

.wallet-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 80px;
}

.valor {
  width: 70px;
  height: 34px;
  border-radius: 1ch;
  border: solid 0.3ch #001e1d;
  text-align: center;
  margin-top: 5px;
  font-size: 14.5px;
  outline: none;
}

.desc {
  width: 200px;
  height: 34px;
  border-radius: 1ch;
  border: solid 0.3ch #001e1d;
  text-align: center;
  margin-top: 5px;
  font-size: 14.5px;
  outline: none;
}

.select-input-pag {
  text-align: center;
  width: 150px;
  height: 34px;
  border-radius: 1ch;
  border: solid 0.3ch #001e1d;
  font-size: 14.5px;
  color: rgb(46, 45, 45);
  margin-top: 5px;
  outline: none;
}

.select-input-tag {
  text-align: center;
  width: 106px;
  height: 34px;
  border-radius: 1ch;
  border: solid 0.3ch #001e1d;  color: rgb(46, 45, 45);
  outline: none;
  margin-top: 5px;
  font-size: 14.5px;
}

.label {
  font-size: 19px;
  color: #f9bc60;
}

#btn-area {
  height: 61px;
  display: flex;
  align-items: flex-end;
  width: 160px;
  padding-left: 8px;
}

.btn-form {
  height: 35px;
  width: 150px;
  border-radius: 1ch;
  border: solid 0.3ch #001e1d;
  font-size: 15px;
  color: #0f3433;
  background-color: #f9bc60;
}

.btn-form:hover {
  border: solid 0.3ch #001e1d;
  background-color: #f9bc60;
  font-size: 16px;
  transform: scale(1.1);
  transition: 0.2s;
}